/* Variables */
:root {
  /* Colores */
  --gold: #e8b34b;
  --dark: #0d0d0d;
  --light: #ffffff;

  /* Tamaños de letra */
  --fontL: clamp(2rem, 1.4366rem + 2.4038vw, 3.6rem);
  --fontM: clamp(1.2rem, 0.9887rem + 0.9014vw, 1.8rem);
  --fontS: clamp(1rem, 0.8592rem + 0.6009vw, 1.4rem);
  --fontXS: clamp(0.8rem, 0.6944rem + 0.4507vw, 1.1rem);

  /* Spacers */
  --spacer--sm: clamp(12px, 6.615383px + 1.538462vw, 22px);
  --spacer--md: clamp(24px, 15.384617px + 2.461538vw, 40px);
  --spacer--lg: clamp(1.875rem, 0.3345rem + 6.5728vw, 6.25rem);
}

/* Ajustes Generales */
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  width: 200px;
  padding: 8px;
  background: var(--gold);
  border: 2px solid var(--dark);
  color: var(--dark);
  text-align: center;
  font-weight: 600;
  border-radius: 8px;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.3s;
}
.btn:hover {
  background: var(--dark);
  border: 2px solid var(--gold);
  color: var(--gold);
  cursor: pointer;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacer--lg);
  gap: 2rem;
}

.hero__left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
}
.hero__left h1 {
  font-size: var(--fontL);
}

.hero__left h3 {
  font-size: var(--fontM);
}

.hero__right {
  max-width: 600px;
}
.hero__right img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid var(--gold);
  box-shadow: 0px 0px 260px 0px var(--gold);
}

/* Divider */
.divider {
  border-top: 2px solid var(--gold);
  border-bottom: 2px solid var(--gold);
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
}

.divider__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--light);
  font-size: var(--fontS);
  text-align: center;
}

.divider__item i {
  color: var(--gold);
}

/* Info */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: var(--spacer--lg);
}

.info__card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacer--md);
  border-radius: 20px;
}

.info__card--text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 500px;
}

.info__card--text h2 {
  font-size: var(--fontM);
  color: var(--gold);
}

.info__card--img {
  max-width: 500px;
}

.info__card--img img {
  width: 100%;
  border-radius: 20px;
  border: 2px solid var(--gold);
}

/* Form */
.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacer--lg);
  padding: var(--spacer--lg);
}

.form-section__img {
  max-width: 600px;
}

.form-section__img img {
  width: 100%;
  border-radius: 20px;
  border: 2px solid var(--gold);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form__name-date {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.form__label span {
  font-size: var(--fontXS);
}
.form__label input {
  padding: 6px;
  border-radius: 6px;
  border: none;
  outline: none;
  border: 4px solid var(--light);
  width: 100%;
}

.form__label input:focus {
  border: 4px solid var(--gold);
}

.form__gender {
  display: flex;
  flex-direction: column;
}
.form__gender--title {
  font-size: var(--fontXS);
  margin-bottom: 0.5rem;
}
.form__gender--options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
.form__gender--options label {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.form__gender--options input[type="radio"] {
  accent-color: var(--gold);
  cursor: pointer;
}

/* Footer */
.footer {
  background: var(--gold);
  color: var(--dark);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer__text {
  font-size: var(--fontS);
  text-align: center;
}
.footer__links {
  display: flex;
  gap: 2rem;
}
.footer .footer__links i {
  font-size: 2rem;
  transition: transform 0.3s;
  cursor: pointer;
}

.footer .footer__links i:hover {
  transform: scale(1.2);
}

/* Respuesta */
.respuesta {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(./img//rtaImg.jpeg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.respuesta h1 {
  font-size: 6rem;
  text-shadow: 1px 3px 1px #0d0d0d;
}

.respuesta h2 {
  font-size: 4rem;
  text-shadow: 1px 3px 1px #0d0d0d;
}

.btnRta {
  padding: 6px;
  color: #ffffff;
  font-size: 2rem;
  text-shadow: 1px 3px 1px #0d0d0d;
  transition: transform 0.3s;
}

.btnRta:hover {
  transform: scale(1.1);
}

/* Medias Queries */
@media screen and (max-width: 800px) {
  /* Hero */
  .hero {
    flex-wrap: wrap;
  }
  /* Info Cards */
  .info__card {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  /* Form Section */
  .form-section {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
